@{
    ViewBag.Title = "Chronic Pain";
}

<div class="row">
    <div class="col-lg-10">
        <h1 class="jumbotron">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <p>
            Welcome to New Horizons, the place of solace and relief for people with Fibromyalgia , CFS and other long term pain conditions.  We combine clinical expertise and cutting edge technology with personal family experience, to provide compassionate, empathetic and effective treatment.
        </p>
        <p>
            Following assessment of your needs, we will work with you to devise a personalised programme, placing you gently in control of your treatment.
        </p>
        <p>
            Fundamental to our treatment regime, is use of the ‘Airnergy’ activated oxygen machine.  This pioneering medical device converts room oxygen into a broken down state, where it is more readily absorbed and utilised by cells within the body.  This allows individual cells to produce more energy, encourages cellular repair and regeneration, and triggers ‘oxidative response’ (part of the bodies ‘self-healing‘ mechanism).
        </p>
        <p>
            Clients will also be offered gentle massage sessions, in order to desensitise, aid lymphatic drainage, increase circulation and relieve pain.
        </p>
        <p>
            Advice may also be provided around activity, rest and exercise, and lifestyle, if required.
        </p>
        <p>
            If you would like to find out more, please contact Laura for a free telephone consultation on 0758 467 9922.
        </p>
    </div>
</div>