@{
    ViewBag.Title = "Treatments";
}

<div class="row">
    <div class="col-lg-10">
        <h1 class="jumbotron">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <p>
            At Melbourne Physiotherapy and Sports Injury clinic, we are proud of our depth of knowledge and experience in the range of treatments we offer.
            We strive to be at the forefront of evidence-based practice, providing the highest quality physiotherapy service to our patients.
        </p>
        <p>
            During initial assessment, we will gather the information required to fully understand your condition.
            This enables us to work with you, to tailor an individualized treatment plan to meet your needs, returning you to normal daily life/fitness within the shortest possible time.
        </p>
        <p>
            Below we have outlined the range of standard treatments offered at Melbourne Physiotherapy and Sports Injury Clinic.
            If you would like to discuss the treatment options available to you, or require any further information, please do not hesitate to contact us.
        </p>
    </div>
</div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Manual therapy</h3>
                <p>Manual therapy is at the heart of Physiotherapy treatment, and includes joint and soft tissue mobilization, manipulation, trigger point therapy and massage. These techniques may offer immediate relief, and have been proven to improve movement, reduce stiffness, tension and pain.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Sports massage</h3>
                <p>Sports massage helps to increase blood flow and break down tough scar tissue and adhesions. This is helpful in the removal of painful and troublesome knots. Pre and post event sports massage can be beneficial in the prevention of injury and aid recovery.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Electrotherapy</h3>
                <p>We have facility to provide Ultrasound, TENS and Electronic muscle stimulation as part of your treatment program. Should any of these modalities be required, a full explanation will be provided prior to your first treatment session. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Ultrasound </h3>
                <p>This can help with reducing pain and swelling/inflammation in acute or chronic pain. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Transcutaneous electrical nerve stimulation (TENS)</h3>
                <p>(TENS) is a method of pain relief that can help some people with long-term painful conditions</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Electrical muscle stimulation</h3>
                <p>(EMS) can be used within rehabilitation to stimulate and increase muscular fiber recruitment promoting faster recovery, and an increase in strength/power</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Taping</h3>
                <p>Whether it be Kinesiology tape (thin, stretchy, elastic cotton strip with an acrylic adhesive) or traditional zinc oxide tape, this can be of benefit in a variety of musculoskeletal conditions by increasing joint movement, joint stability, nerve off loading, pain reduction or helping realize postural positioning.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Post Operative / Sports Rehabilitation</h3>
                <p>We have over 9 years of experience treating post operatively (TKR/THR/ACL/other joint surgery), both within the NHS and private practice. We aim to help design realistic rehabilitation programs, whether it be home exercises or more complex techniques within the gym, swimming pool or functional arena.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Video Analysis</h3>
                <p>Your condition may result from something as simple as your footwear. We are able to offer video analysis, which helps us to carry out detailed assessment of pain, which occurs during daily life, or in sporting activities. Whether it be muscular imbalance, foot biomechanics or issues with techniques, video analysis can help both the therapist and the patient understand why their injuries could be occurring. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3>Acupuncture</h3>
                <p>Acupuncture is one of the many therapeutic techniques employed within physiotherapy as part of an integrated approach to the management of pain and inflammation. Physiotherapists base their treatments on scientific research and clinical evidence. This suggests that Acupuncture can reduce pain, by stimulating the brain and spinal cord to produce natural pain-relieving chemicals (including endorphins), melatonin (which promotes sleep) and serotonin (to promote well-being), to name but a few. These chemicals assist the body's healing processes and offer pain relief as a precursor to other treatments, such as manual therapy or exercise in order to aid recovery.</p>
            </div>
        </div>
    