@{
    ViewBag.Title = "Testimonials";
}

<div class="row">
    <div class="col-lg-10">
        <h1 class="jumbotron">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">

        <h3>These are some of the testimonials that have been left.</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <p class="testimonial">
            Stuart has been my physio for many years, ironing out various injuries picked up through playing sports, but in April 2014 I walked from John O' Groats to Lands End and that's when his service was invaluable.
            During the 45 day, 900 mile trek, Stuart was on hand to give advice, support and, when possible, give massage and therapeutic care.
            His knowledge and particularly the way he chooses to impart it really helped maintain a 22 mile walking day.
            Often looking into my welfare, giving advice on flexibility and offering resolutions to the niggles and pains picked up whilst walking.
            I've had various physio's before, but none so professional, eager to help or able to articulate what needs to be done in such a way as to make it easy.
        </p>
        </div>
        <div class="col-lg-10">
            <p>T West</p>
            </div>
        
</div>
<div class="row">
    <div class="col-lg-10">
        <p class="testimonial">
            After landing on my shoulder during a mountain bike accident, I waited 6 weeks hoping it would heel.
            I then went to see Stuart, who quickly diagnosed what was wrong. After the first session I quickly noticed an improvement,
            and felt more mobility and a lot less pain. I then went for a second session where Stuart showed me easy ways of improving the strength of
            my shoulder without causing further injury, as well as fully clearing the swelling in my shoulder.
            I'm now back in the gym, biking and sleeping a lot better.
            Thanks Stuart.
        </p>
            <p>
                Ben Hollis
            </p>
        </div>


    </div>
