@{
    ViewBag.Title = "Appointments";
}

<h2>@ViewBag.Title</h2>
<div class="bodyText">
    <iframe src="https://melbourne-physiotherapy-and-sports-injury-clinic.cliniko.com/bookings?embedded=true" frameborder="0" scrolling="auto" width="100%" height="1750"></iframe>
</div>
