@{
    ViewBag.Title = "About Us";
}

<div class="row">
    <div class="col-lg-10">
        <h1 class="jumbotron">@ViewBag.Title</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <h3>Stuart Warnock Bsc (Hons) Physiotherapy, MCSP, HCPC, AACP</h3>
        <p>As a competitive swimmer and local footballer from a young age, I have extensive personal experience of the pain and frustration that is associated with injury and other limiting conditions. From the shoulder condition which put pay to swimming for Derbyshire, to the knee injury which required surgery, these experiences have led to my keen passion for helping my patients to become pain free and return to performance at their best.</p>
        <p>Following distinction in my Diploma of Higher Education in Sports Science with Rehabilitation, I gained a Physiotherapy Degree with Honors from Coventry University in 2005. I gained extensive experience within the NHS, before moving to private practice in 2011, where I could continue to use my knowledge and skills, whilst following my passion in this area.</p>
        <p>‘Satisfied customers’ include current MotoGP, WSBK, BSB riders (Check our twitter feed for the latest news and who is coming in to see us), National swimmers, England Youth cricketers, Staffordshire Runners/Triathletes, Burton Albion footballers and Perth (Australia) Basketballers.</p>
        <p>We are by no means ‘exclusive’ to competitive sport; recent work with Tim West enabled him to overcome significant pain to complete the grueling hike from John O’Groats to Lands End, raising over £16,000 for St Gile’s Hospice.</p>
        <p>I am a full established member of the Chartered society of Physiotherapy (CSP), Health and Care Professions Council (HCPC) and The Acupuncture Association of Chartered Physiotherapists (AACP).</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <h3>Richard J Dowell BSc (Hons) Physiotherapy, MCSP, HCPC</h3>
        <p>Five years spent working in Orthopaedic theatres exposed me to a lot of musculoskeletal conditions, both traumatic and non traumatic in nature. From this I developed a keen interest in human anatomy, combined with my passion for sports and fitness I was led down the path to physiotherapy.</p>
        <p>I graduated from Keele University in 2013 with a Physiotherapy Degree with Honors . Since then I have worked in the NHS and still hold a post as a senior MSK physiotherapist working in outpatients, but now look to branch out in to private practice.</p>
        <p>Alongside my life a physiotherapist I also train and compete as a rower at a local club. As an athlete myself I understand how important it is to return to training as soon as possible when injury strikes, and also to take every step possible to ensure injuries do not reoccur.</p>
        <p>Recently I have returned to studying, this time to complete my Masters Degree in Sports and Exercise Medicine at the University of Nottingham.  I hope these studies, coupled with the experience and knowledge I have already gained since qualifying will allow me to help patients reach their potential, the athletic and nonathletic alike.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <h3>Beth jones</h3>
        <p>Qualifying as a Level 4 sports massage therapist with the London School of Sports Massage in June 2009; she is a member of the Institute of Sports and RemedialMassage and regularly carries out professional development.</p>
        <p>Beth enjoys long walks in the countryside, pilates, swimming, strength conditioning and cycling; she has previously been a regular rock climber and runner.</p>
        <p>Taking a holistic approach and working to relax muscles before treating specific areas, conditions or injuries more deeply, Beth will offer advice to clients on how to manage their conditions with self-massage and stretching to release tension.</p>
        <p>Beth treats non-sporting and athletic clients alike; she promotes the use of regular massage to avoid injury, identify areas of tension and to ease muscular discomfort and pain caused by day to day activities and job related stress.</p>
        <p>Soft tissue massage involves direct physical action on the muscle and other soft tissues of your body. Soft tissue techniques such as massage targets your muscles, tendons, ligaments, or other connective tissue such as fascia.</p>
        <p>Sports massage works deep in the muscles, realigning the muscle fibres and connective tissue, and flushing away toxins. Regular sessions will increase joint mobility and general flexibility, and reduces the risk of injury during exercise.</p>
    </div>
</div>
