@{
    ViewBag.Title = "About Us";
}

<h2>@ViewBag.Title</h2>
<div class="bodyText">
    <p><b>Stuart Warnock Bsc (Hons) Physiotherapy, MCSP, HCPC, AACP</b></p>
    <p>As a competitive swimmer and local footballer from a young age, I have extensive personal experience of the pain and frustration that is associated with injury and other limiting conditions.  From the shoulder condition which put pay to swimming for Derbyshire, to the knee injury which required surgery, these experiences have led to my keen passion for helping my patients to become pain free and return to performance at their best.</p>
    <p>Following distinction in my Diploma of Higher Education in Sports Science with Rehabilitation, I gained a Physiotherapy Degree with Honors from Coventry University in 2005.  I gained extensive experience within the NHS, before moving to private practice in 2011, where I could continue to use my knowledge and skills, whilst following my passion in this area. </p>
    <p>‘Satisfied customers’ include National swimmers, England Youth cricketers, Staffordshire runners and Triathletes, and Burton Albion and Perth (Australia) Netballers.  </p>
    <p>We are by no means ‘exclusive’ to competitive sport; recent work with Tim West enabled him to overcome significant pain to complete the grueling hike from John O’Groats to Lands End, raising over £16,000 for St Gile’s Hospice.</p>
    <p>I am a full established member of the Chartered society of Physiotherapy (CSP), Health and Care Professions Council (HCPC) and The Acupuncture Association of Chartered Physiotherapists (AACP).</p>
</div>
