@{
    ViewBag.Title = "Contact Information";
}

<h2>@ViewBag.Title</h2>
<div class="contact_page_list">
    <ul style="list-style: none">
    <li><h3>For all Enquiries please use the below contact details.</h3></li>
    <li>
        <div class="row">
            <div class="leftRow">
                <span>Mobile:</span>
            </div>
            <div class="rightRow">
                <span><b>07557 761 852</b></span>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="leftRow">
                <span>Home:</span>
            </div>
            <div class="rightRow">
                <span><b>01332 694 344</b></span>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="leftRow">
                <span>Or Email me at:</span>
            </div>
            <div class="rightRow">
                <span><b><a href="mailto:info@melbournephysio.co.uk">info@melbournephysio.co.uk</a></b></span>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="leftRow">
                <span>Address:</span>
            </div>
            <div class="rightRow">
                <span><b>Melbourne Physiotherapy and Sports Injury Clinic<br />Unit A1<br/> Castle Street<br/> Melbourne<br/> Derbyshire<br/> DE73 8JA</b></span>
            </div>
        </div>
        <div class="map_wrapper">
            <div id="googleMap" class="map_canvas">
            </div>
        </div>
    </li>
</ul>
</div>
