

<h1>Melbourne Physiotherapy and Sports Injury Clinic</h1>

<span class="bodyText">
    <ul style="list-style: none">
        <li>
            For all Enquiries please use the below contact details. <br/> You can call on
        </li>
        <li>
            <br/>
        </li>
        <li>
            <span>Mobile: <b>07557 761 852</b></span>
        </li>
        <li>
            <span>Home: <b>01332 694 344</b></span>
        </li>
        <li>
            Or Email me at <a href="mailto:info@melbournephysio.co.uk">info@melbournephysio.co.uk</a>
        </li>
        <li>
            <span>Address : <b><br />Unit A1<br/> Castle Street<br/> Melbourne<br/> Derbyshire<br/> DE73 8JA</b></span>
        </li>
        <li>
    </ul>
</span>
