


<div class="row">
    <div class="col-lg-10">
        <h1 class="jumbotron">Melbourne Physiotherapy and Sports Injury Clinic</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">

        <p>Established in January 2014, Melbourne Physiotherapy and Sports Injury Clinic strives to be at the forefront of evidence based practice, providing the highest quality physiotherapy service to Melbourne and surrounding areas of South Derbyshire/Leicestershire/Nottinghamshire (including Castle Donington, Kegworth, Ashby De La Zouch, Swadlincote, Derby and Loughborough)</p>
        <p>If you have a injury, are interested in injury screening or prevention then Melbourne Physiotherapy and Sports Injury Clinic can get you back on track, assist with returning to work or just help with easing those daily aches and pains.</p>
        <p>You can book an appointment with us by clicking the online icon or should you wish to speak to us before booking an appointment, you can find all our details on the ‘Contact us’ page.</p>
        <p>We are registered with major insurance companies; should you wish to enquire further then please contact us.</p>
        <p>We look forward to helping you achieve whatever goal you have!</p>

    </div>
    @*<div class="col-md-3">

        <a class="twitter-timeline" href="https://twitter.com/melbourn_physio" data-border-color="#225ca8" data-widget-id="666008497088253954">Tweets by @@melbourn_physio</a>
        

    </div>*@
</div>


