body {
    min-height: 800px;
    font-size: .85em;
    font-family: "Tahoma", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background-image: url(images/bg.jpg)
}

.pageWrapper {
    padding: 32px 150px;
    position: absolute;
    left: 15%;
    background-color: white;
    height: 100%;
    bottom: 0;
    top: 0;

}

#header {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    
}

#topNav {
    border-bottom: 1px solid #E2E2E2;
    padding: 0 90px;
}

#contentWrapper {
    padding: 0 10px;
    max-width: 700px;
    margin: 0 auto;
}

#main 
{
    max-width: 700px;
    padding: 40px 5px;
    position: relative;
}

header, footer, nav, section {
    display: block;
}

.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 25px 30px;
    font-size: 25px;
}

.spacer {
    border-bottom: 1px solid #E2E2E2;
    margin: 40px 0px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.logo 
{
    margin: 0;
    font-family: Six Caps, Helvetica, arial, sans-serif;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    display: inline-block;
    padding-top: 10px;
}

/* Styles for homepage contact
-----------------------------------------------------------*/
.row {
    width: 600px;
    display: inline-block;
}
.leftRow {
    float: left;
    padding: 0 10px 0 0;
    min-width: 100px;
}
.rightRow {
    float: left;
    padding: 0 10px 0 0;
}
