body {
    min-height: 800px;
    font-size: .85em;
    font-family: "Tahoma", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background-color: #E0EBFD;
    
}


.wrapper {
    padding: 20px 0 0 0;
}

.page {
    width: 956px;
    margin: 0 auto;
}

.pageWrapper {
    background: #fff;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;

}

#header {
    padding:30px 110px 55px;
    border-bottom: 1px solid #E2E2E2;
    margin:0 20px
}

.mainNav {
    float: right;
}

.mainNav ul {
    list-style: none;
    list-style-position: outside;
}

.mainNav ul li {
    float: left;
    position: relative;
    padding-right: 2px;
}

.mainNav ul li a {
    color: #000;
    float: left;
    padding: 0 18px;
    border-left: 0;
    border-right: 0;
    font-size: 1.4em;
    text-decoration: none;
}


.main-title {
    float: left;
}

#contentWrapper {
    padding: 0 10px;
    max-width: 700px;
    margin: 0 auto;
}

#main 
{
    max-width: 700px;
    padding: 40px 5px;
    position: relative;
}

header, footer, nav, section {
    display: block;
}


h1 {
    font-size: 25px;
}

.spacer {
    border-bottom: 1px solid #E2E2E2;
    margin: 40px 0px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


#logo a
{
    width: 300px;
    height: 147px;
    display: block;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    background: url(Images/melbournephyisologo_banner.jpg) no-repeat 0 0;
    
}

.logo-wrapper{
    float: left;
    display: inline-block;
    
}

.nav-contact-details {
    display: inline-block;
    float: right;
    padding: 80px 0 0 0
}

.nav-wrapper {
    clear: left;
}

/* Styles for homepage contact
-----------------------------------------------------------*/
.row {
    width: 600px;
    display: inline-block;
}
.leftRow {
    float: left;
    padding: 0 10px 0 0;
    min-width: 100px;
}
.rightRow {
    float: left;
    padding: 0 10px 0 0;
}

/* Slider styles
-----------------------------------------------------------*/
.sliderContainer {
    position: relative;
    top: 20px;
    left: 45px;
    width: 800px;
    height: 402px;
}

.sliderSlides {
    cursor: move;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 402px;
}